//fuentes de google
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito&family=Roboto:ital@1&display=swap');

$mainFont: 'Lato', sans-serif;
$secondaryFont: 'Nunito', sans-serif;
$extraFont: 'Roboto', sans-serif;

//sizings
$textXS:1.5rem;
$textSm:2rem;
$textMd:2.5rem;
$textLg:3rem;
$textXlg:3.5rem;

//weights

$textExtraBold:700;
$textBold:600;
$textRegular:400;
$textThin:200;

.textCenter{
    text-align: center;
}


.padding{
    padding: 20px;
}

.centrado{
    align-items: center;
}

